[user]
  name = Nate Belisle
  email = {{ .email }}
{{- if .work }}
{{- end }}
[url "git@github.com:"]
  insteadOf = https://github.com/
{{- if .work }}
[commit]
  gpgsign = true
[gpg]
  format = ssh
{{- end }}
[core]
  hooksPath = {{ .chezmoi.homeDir }}/.git_hooks
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX
  filemode = false
  editor = vim
[remote "origin"]
  prune = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = false
[pager]
  branch = false
[diff]
  tool = bcomp
[difftool]
  prompt = false
[difftool "bcomp"]
  trustExitCode = true
  cmd = "/usr/local/bin/bcomp" \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = bcomp
[mergetool]
  prompt = false
[mergetool "bcomp"]
  trustExitCode = true
  cmd = "/usr/local/bin/bcomp" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
