tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"
{{- if .work }}
tap "hubspot/main", "git@git.hubteam.com:HubSpot/homebrew-main.git"
{{- end }}
tap "virtuslab/git-machete"
brew "chezmoi"
brew "diff-so-fancy"
brew "python@3.10"
{{- if .work }}
brew "gh"
brew "httpie"
{{- end }}
brew "mas"
{{- if .personal }}
brew "mono"
{{- end }}
brew "nghttp2"
brew "node"
brew "rename"
brew "tldr"
brew "wget"
brew "zsh"
{{- if .work }}
brew "hubspot/main/bender-proxy"
brew "hubspot/main/hsenv"
brew "hubspot/main/hshs"
brew "hubspot/main/bend"
brew "hubspot/main/deploy-config-validator"
brew "hubspot/main/hs-maven@3.8.4"
brew "hubspot/main/hs-percona-server"
brew "hubspot/main/japi-check"
brew "hubspot/main/java-gen"
brew "hubspot/main/mothership"
brew "hubspot/main/mvndiff"
brew "hubspot/main/nex"
brew "hubspot/main/python@2"
{{- end }}
brew "virtuslab/git-machete/git-machete"
cask "bluesnooze"
{{- if .work }}
cask "finicky"
cask "hs-java11"
cask "hs-java17"
cask "ccmenu"
{{- end }}
cask "boop"
cask "brave-browser"
cask "caffeine"
cask "calibre"
{{- if .personal }}
cask "discord"
cask "unity-hub"
{{- end }}
cask "dropbox"
cask "freedom"
cask "google-drive"
cask "iterm2"
cask "itsycal"
cask "jetbrains-toolbox"
cask "notunes"
cask "sublime-text"
cask "tidal"
cask "vlc"
cask "zoom"
mas "GIPHY CAPTURE", id: 668208984
mas "Hour", id: 569089415
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Magnet", id: 441258766
mas "Meeter", id: 1510445899
{{- if .personal }}
mas "NordVPN", id: 905953485
{{- end }}
mas "Skitch", id: 425955336
mas "Timestamp Converter", id: 738226999