#!/bin/bash

# .Brewfile hash: {{ include "dot_config/homebrew/dot_Brewfile.tmpl" | sha256sum }}
echo "Brewfile has changed"
diff -u ~/.config/homebrew/.Brewfile ~/.config/homebrew/.Brewfile.old | diff-so-fancy
read -r -p "Would you like to apply changes? [y/N] " response
if [[ "$response" =~ ^([nN][oO]|[nN])$ ]]
then
	echo "Brewfile has changed"
    exit 1
fi

brew bundle --file=~/.config/homebrew/.Brewfile
