#!/bin/bash

# .Brewfile hash: {{ include "dot_config/homebrew/dot_Brewfile.tmpl" | sha256sum }}
mkdir -p ~/.config/homebrew/ && touch ~/.config/homebrew/.Brewfile && cp ~/.config/homebrew/.Brewfile ~/.config/homebrew/.Brewfile.old
