{{/* boolean feature tags */}}
{{- $personal := false -}}{{/* true if this machine is for personal use */}}
{{- $work := false -}}{{/* true if this machine belongs to my employer */}}
{{- "" -}}

{{/* work around unreliable hostname on darwin - https://github.com/twpayne/chezmoi/issues/1802 */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Nate’s MacBook Air" -}}
{{-     $hostname = "nate-mba" -}}
{{-   else if eq $computerName "Nate’s MacBook Pro" -}}
{{-     $hostname = "nate-mbp-max" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}


{{- if (and (eq .chezmoi.os "darwin") (or (eq $hostname "C02G3015MD6V") (eq $hostname "F5QH0HDQFC"))) }}
{{-   $work = true -}}
{{-   $personal = false -}}
{{ else }}
{{-   $work = false -}}
{{-   $personal = true -}}
{{ end }}


{{- $userEmail := promptStringOnce . "email" "Computer Email address" -}}
{{- $personalEmail := promptStringOnce . "personal.email" "Personal Email address" -}}

[data]
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    work = {{ $work }}
    email = {{ $userEmail | quote }}
    personalEmail = {{ $personalEmail | quote }}
[edit]
{{- if lookPath "diff-so-fancy" }}
    command = "subl"
{{- end }}
    args = ["--wait"]
    hardlink = false
[git]
    autoCommit = true
    autoPush = true
{{- if lookPath "diff-so-fancy" }}
[diff]
    pager = "diff-so-fancy"
{{- end }}
