tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"
{{- if .work }}
tap "hubspot/main", "git@git.hubteam.com:HubSpot/homebrew-main.git"
{{- end }}
tap "virtuslab/git-machete"
{{- if .work }}
brew "alerting-rules"
{{- end }}
brew "chezmoi"
brew "diff-so-fancy"
brew "expect"
{{- if .work }}
brew "gh"
{{- end }}
brew "git-lfs"
brew "python@3.9"
brew "python@3.10"
{{- if .work }}
brew "hs-kubectl"
brew "httpie"
{{- end }}
brew "mas"
{{- if .work }}
brew "maven"
{{- end }}
{{- if .personal }}
brew "mono"
{{- end }}
brew "nghttp2"
brew "node"
{{- if .work }}
brew "percona-server"
{{- end }}
brew "rename"
brew "tldr"
brew "wget"
brew "zsh"
{{- if .work }}
brew "hubspot/main/bender-proxy"
brew "hubspot/main/hshs"
brew "hubspot/main/bend"
brew "hubspot/main/deploy-config-validator"
brew "hubspot/main/hsenv"
brew "hubspot/main/httpie-hubspot"
brew "hubspot/main/japi-check"
brew "hubspot/main/java-gen"
brew "hubspot/main/mothership"
brew "hubspot/main/mvndiff"
brew "hubspot/main/nex"
{{- end }}
brew "virtuslab/git-machete/git-machete"
cask "alfred"
cask "bartender"
cask "bluesnooze"
cask "boop"
cask "brave-browser"
cask "caffeine"
cask "calibre"
{{- if .work }}
cask "ccmenu"
{{- end }}
cask "discord"
{{- if .personal }}
cask "unity-hub"
cask "zoom"
{{- end }}
cask "dropbox"
{{- if .work }}
cask "finicky"
{{- end }}
cask "freedom"
cask "google-drive"
{{- if .work }}
cask "hs-java11"
cask "hs-java17"
{{- end }}
cask "iterm2"
cask "itsycal"
{{- if .work }}
cask "java8"
{{- end }}
cask "jetbrains-toolbox"
cask "keka"
cask "mat"
cask "notunes"
cask "obsidian"
cask "sequel-ace"
cask "signal"
cask "steam"
cask "sublime-text"
cask "tidal"
cask "unity-hub"
cask "vlc"
{{- if .personal }}
cask "zoom"
{{- end }}
mas "GIPHY CAPTURE", id: 668208984
mas "Hour", id: 569089415
mas "Keynote", id: 409183694
mas "Magnet", id: 441258766
mas "Meeter", id: 1510445899
{{- if .personal }}
mas "NordVPN", id: 905953485
{{- end }}
mas "Skitch", id: 425955336
mas "Timestamp Converter", id: 738226999