# Add Homebrew taps for managing packages and applications
tap "homebrew/bundle"         # Allows managing multiple packages and applications with a single Brewfile
tap "homebrew/services"       # Allows managing system services with Homebrew
tap "sdkman/tap"              # Tap containing the Formula for the SDKMAN! CLI
tap "withgraphite/tap"        # Tap containing the Formula for the Graphite CLI

# Install command-line tools, libraries, and frameworks
brew "awscli"                 # Official Amazon AWS command-line interface
brew "bitwarden-cli"          # A command-line interface for the Bitwarden password manager
brew "chezmoi"                # A tool for managing dotfiles
brew "diff-so-fancy"          # A tool for improving the output of Git diffs
brew "difftastic"             # A tool for improving the output of Git diffs
brew "exercism"               # Command-line tool to interact with exercism.io a software learning site
brew "expect"                 # A tool for automating interactive applications
brew "fd"                     # Simple, fast and user-friendly alternative to find
brew "ffmpeg"                 # Play, record, convert, and stream audio and video
brew "fzf"                    # A general-purpose command-line fuzzy finder.
brew "gh"                     # A general-purpose command-line fuzzy finder.
brew "git-lfs"                # A Git extension for managing large files
brew "git-machete"            # Git repository organizer & rebase workflow automation tool
{{- if .work }}
brew "graphite"               # Graphite CLI to manage github interactions
{{- end }}
brew "jq"                     # A tool for processing JSON data
{{- if .work }}
brew "k9s"                    # Kubernetes CLI To Manage Your Clusters In Style!
brew "lima"                   # Linux virtual machines
{{- end }}
brew "pyenv"                  # Install pyenv
brew "python@3.9"             # Install Python 3.9
brew "python@3.10"            # Install Python 3.10
brew "httpie"                 # A command-line HTTP client
brew "mas"                    # A command-line interface for the Mac App Store
{{- if .personal }}
brew "maven"                  # A build automation tool for Java projects
{{- end }}
brew "miller"                 # Like sed, awk, cut, join & sort for name-indexed data such as CSV
brew "mono"                   # An open-source implementation of Microsoft .NET Framework
brew "nghttp2"                # A library for HTTP/2 and HPACK
brew "node"                   # A JavaScript runtime built on Chrome's V8 JavaScript engine
{{- if .personal }}
brew "openjdk"                # An open-source implementation of the Java SE platform
{{- end }}
brew "sdkman-cli"             # Tool for managing multiple SDKs on Unix systems
brew "spoof-mac"              # Spoof your MAC address in macOS
brew "ripgrep"                # A line-oriented search tool that recursively searches directories
brew "tesseract"              # A command-line OCR (Optical Character Recognition) engine
brew "tldr"                   # A collection of simplified and community-driven man pages
brew "tree"                   # A command-line tool to list contents of directories in a structure like format
{{- if .work }}
brew "volta"                  # JavaScript toolchain manager for reproducible environments
{{- end }}
brew "wget"                   # A command-line tool for downloading files from the web
brew "youtube-dl"             # A command-line tool for downloading videos from youtube.com or other video platforms
brew "yt-dlp"                 # Feature-rich command-line audio/video downloader
brew "zoxide"                 # A smarter cd command, inspired by z and autojump
brew "zsh"                    # A shell with interactive features and syntax highlighting

# Install GUI applications
{{- if .work }}
cask "1password-cli"          # Command-line interface for 1Password
{{- end }}
cask "alfred"                 # A productivity application for macOS
cask "anki"                   # A memory training application
{{- if (eq .hostname "nate-mbp-max") }}
cask "authy"                  # A two-factor authentication application
{{- end }}
cask "bartender"              # A tool for managing menu bar items on macOS
cask "bbedit"                 # A professional text editor for macOS
cask "beyond-compare"         # A file / folder / text diff tool 
cask "bitwarden"              # A password manager with a GUI client
cask "bluesnooze"             # An application for reducing blue light on macOS
cask "boop"                   # A scriptable scratchpad for developers
cask "brave-browser"          # A privacy-focused web browser
cask "caffeine"               # An application that prevents macOS from going to sleep
{{- if .personal }}
cask "calibre"                # E-book manager and reader
{{- end }}
{{- if .work }}
cask "chatgpt"                # OpenAI's official ChatGPT desktop app
{{- end }}
cask "cursor"                 # E-book manager and reader
{{- if .personal }}
cask "discord"                # Chat and voice app for gamers
{{- end }}
{{- if (not (eq .hostname "nate-mba")) }}
cask "docker"                 # Pack, ship and run any application as a lightweight container
{{- end }}
{{- if (and .personal (not (eq .hostname "nate-mba"))) }}
cask "dotnet-sdk"             # Software development kit for .NET Framework
{{- end }}
{{- if .work }}
cask "finicky"                # Application for customizing URLs to open in specific browsers
{{- end }}
cask "freedom"                # App for blocking distractions and increasing productivity
cask "google-drive"           # Cloud storage and file backup app
cask "granola"                # AI-powered notepad for meetings
cask "iterm2"                 # Terminal emulator for macOS
cask "itsycal"                # Calendar app for macOS
cask "jetbrains-toolbox"      # JetBrains Toolbox, an installer and manager for JetBrains IDEs
cask "keka"                   # Compression and decompression app for macOS
{{- if (and .personal (not (eq .hostname "nate-mba"))) }}
cask "losslesscut"            # Trims video and audio files losslessly
{{- end }}
cask "mat"                    # Eclipse Memory Analyzer for java heap dumps
cask "meetingbar"             # A menu-bar app for your calendar meetings
{{- if .personal }}
cask "nordvpn"                # Virtual private network (VPN) app for macOS
{{- end }}
cask "notunes"                # App for disabling iTunes launching when a media key is pressed
cask "obsidian"               # Knowledge management and note-taking app
{{- if .personal }}
cask "openmtp"                # Android file transfer tool
cask "openvpn-connect"        # VPN client for macOS
cask "qbittorrent"            # BitTorrent client app for macOS
{{- end }}
cask "rectangle"              # Move and resize windows using keyboard shortcuts or snap areas
{{- if .personal }}
cask "sequel-ace"             # SQLite database manager app for macOS
{{- end }}
cask "signal"                 # Encrypted messaging and calling app
{{- if .personal }}
cask "slack"                  # Team communication and collaboration app
cask "spotify"                # Music streaming service app
cask "steam"                  # Digital distribution platform for video games
{{- end }}
cask "sublime-text"           # Text editor for macOS
cask "todoist"                # App for managing tasks and to-do lists
{{- if (and .personal (not (eq .hostname "nate-mba"))) }}
cask "unity-hub"              # Unity engine hub for managing different versions of the engine
{{- end }}
{{- if .personal }}
cask "visual-paradigm-ce"     # UML diagramming and design tool
{{- end }}
cask "visual-studio-code"     # Open-source code editor
cask "vlc"                    # Multimedia player app for macOS
{{- if .personal }}
cask "zoom"                   # Video conferencing app for macOS
{{- end }}

# Install Mac App Store applications
mas "GIPHY CAPTURE", id: 668208984        # GIF and video screen capture app from the Mac App Store
mas "Hour", id: 569089415                 # Time tracking app from the Mac App Store
mas "iMovie", id: 408981434               # Video editing software from the Mac App Store
mas "Meeter", id: 1510445899              # Video conferencing app from the Mac App Store
mas "Skitch", id: 425955336               # Annotation and markup app from the Mac App Store
mas "Timestamp Converter", id: 738226999  # Date and time converter app from the Mac App Store
