tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"
brew "chezmoi"
brew "diff-so-fancy"
brew "expect"
brew "git-lfs"
brew "python@3.9"
brew "python@3.10"
brew "httpie"
brew "mas"
brew "maven"
brew "mono"
brew "nghttp2"
brew "node"
brew "openjdk"
brew "rename"
brew "ripgrep"
brew "tldr"
brew "wget"
brew "zsh"
cask "alfred"
{{- if (eq .hostname "nate-mbp-max") }}
cask "authy"
{{- end }}
cask "bartender"
cask "bitwarden"
cask "bluesnooze"
cask "boop"
cask "brave-browser"
cask "caffeine"
cask "calibre"
cask "discord"
{{- if (and .personal (not (eq .hostname "nate-mba"))) }}
cask "unity-hub"
{{- end }}
cask "zoom"
cask "dotnet-sdk"
cask "dropbox"
{{- if .work }}
cask "finicky"
{{- end }}
cask "freedom"
cask "google-drive"
cask "iterm2"
cask "itsycal"
cask "jetbrains-toolbox"
cask "keka"
cask "mat"
cask "nordvpn"
cask "notunes"
cask "obsidian"
cask "qbittorrent"
cask "sequel-ace"
cask "signal"
cask "slack"
cask "steam"
cask "sublime-text"
cask "tidal"
cask "todoist"
cask "unity-hub"
cask "vlc"
cask "zoom"
mas "GIPHY CAPTURE", id: 668208984
mas "Hour", id: 569089415
mas "Keynote", id: 409183694
mas "Magnet", id: 441258766
mas "Meeter", id: 1510445899
mas "Skitch", id: 425955336
mas "Timestamp Converter", id: 738226999